.header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.header-nav button {
  margin-left: 5px;
  margin-right: 5px;
}

.header-title {
  font-size: 1em;
}

.header label {
  margin-right: 20px;
  margin-top: 4px;
}

@media screen and (max-width: 500px) {
  .header label {
    margin-top: 8px;
    font-size: 12px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 375px) {
  .header label {
    display: none;
  }
}
