html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.float-right {
  float: right;
}

.hidden {
  display: none;
}

.center {
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}
